<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div class="container-fluid">
                LOLk;jcvxbgdsf gijdfs
            </div>
        </div>
        <div class="col-xs-6">
            <div class="container-fluid pull-down">
                <a class="btn btn-success btn-block" ng-click="model.createNewPad()" ng-show="model.visible">Create New
                    Pad</a>

                <div id="myCode"></div>
                <a class="btn btn-success btn-block" ng-click="model.compile()">compile</a>
                <a class="btn btn-success btn-block" ng-click="model.getResults()">Get Results</a>
                <div ng-show="model.result" class="alert alert-success" role="alert">
                    {{model.result}}
                </div>

            </div>
        </div>
    </div>
</div>
