<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 pull-left">


            <div id="remote-media"></div>


            <div id="controls">
                <div id="preview">
                    <p class="instructions">Hello Beautiful</p>
                    <div id="local-media"></div>
                    <button id="button-preview" ng-click="model.cameraPreview()">Preview My Camera</button>
                </div>

                <div id="room-controls">
                    <p class="instructions">Room Name:</p>
                    <input id="room-name" type="text" placeholder="Enter a room name"/>
                    <button id="button-join" ng-click="model.joinDisabled || model.joinRoom()">Join Room</button>
                    <button id="button-leave" ng-click="model.leaveDisabled || model.leaveRoom()">Leave Room</button>
                </div>


                <div id="log"></div>
            </div>
        </div>


        <div class="col-xs-6 pull-right">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="languageOptions">Size</label>
                        <select id="languageOptions" class="form-control" ng-model="model.language"
                                ng-options="c for c in model.languages"></select>
                        <button class="btn-block" ng-click="model.changeLanguage()">Change Language</button>
                    </div>
                    <a class="btn btn-success btn-block" ng-click="model.createNewPad()" ng-show="model.visible">Create
                        New
                        Pad</a>


                    <div id="myCode"></div>


                    <div class="form-group">
                        <label for="input">Input:</label>
                        <textarea class="form-control" rows="5" ng-model="model.input" id="input"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="output">Output:</label>

                        <textarea ng-show="model.result" ng-model="model.result" class="form-control" rows="5"
                                  id="output" readonly>
                        </textarea>

                    </div>

                    <div ng-show="model.compiling" class="alert alert-info" id="compiling">
                        Compiling....
                    </div>

                    <a class="btn btn-success btn-block" ng-click="model.compile()">compile</a>

                    <!--<a class="btn btn-success btn-block marginBottom" ng-click="model.getResults()">Get Results</a>-->
                    <!--<div class="card" ng-show="model.result">-->
                    <!--<div class="card-block">-->
                    <!--&lt;!&ndash;<div ng-show="model.result" id="results">&ndash;&gt;-->
                    <!--{{model.result}}-->
                    <!--</div>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-xs-4">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 container-fluid">-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;    leftcvzj;jsdzbd zfdkjgbfg k;jfd gnbfdg;kjdfn-->
<!--</div>-->
<!--</div>-->

<!--</div>-->


<!--<div class="col-xs-8">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 container-fluid">-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;right        kj;zxcbvv fgs;jdsfgsdf;kjgd;kj-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


