<div class="container-fluid" onpageshow="getwidth()">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href ng-click="model.tab='interviewerDash'">Homepage</a></li>
        <li class="breadcrumb-item active">{{model.user.firstName}}'s Profile</li>
    </ol>
    <!-- Card Columns -->
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <h3 class="card-header">
                    <small>Profile</small>
                    <button class="btn btn-primary pull-right" ng-click="model.updateUser(model.user)">Update
                        Profile
                    </button>
                </h3>
                <div class="card-block" id="imgoverlay">
                    <form action="/api/upload/image" method="post" enctype="multipart/form-data">
                        <img class="card-img-top img-fluid w-100" src="{{model.user.picture}}" alt="Card image cap">
                        <input class="image-upload pull-left" type="file" id="picture-upload" name="profile-picture"/>
                        <input name="userId" value="{{model.user._id}}" style="display: none"/>
                        <input name="email" value="{{model.user.email}}" style="display: none"/>
                        <input name="firstName" value="{{model.user.firstName}}" style="display: none"/>
                        <input name="lastName" value="{{model.user.lastName}}" style="display: none"/>
                        <button type="submit" class="btn btn-primary pull-right image-upload">Upload</button>
                    </form>
                </div>
                <div ng-show="model.error" class="alert alert-danger" role="alert">
                    {{model.error}}
                </div>

                <div ng-show="model.message" class="alert alert-success" role="alert">
                    {{model.message}}
                </div>

                <div class="card-block" id="profcard">
                    <h4 class="card-title">{{model.name}}</h4>
                    <p class="card-text">

                        <label><b>Username:</b></label>
                        <!--<p>{{model.user.username}}</p>-->
                        <input class="form-control" type="text" ng-model="model.user.username"
                               placeholder="Username" readonly/>

                        <label for="email"><b>Email:</b></label>
                        <input id="email" class="form-control" type="email" ng-model="model.user.email"
                               placeholder="Email"/>

                        <label for="first"><b>First Name:</b></label>
                        <input id="first" class="form-control" type="text" ng-model="model.user.firstName"
                               placeholder="First Name"/>

                        <label for="last"><b>Last Name:</b></label>
                        <input id="last" class="form-control" type="text" ng-model="model.user.lastName"
                               placeholder="Last Name"/>
                        <label></label>
                        <button class="btn btn-warning btn-block" ng-click="model.deleteUser()">
                            Deregister
                        </button>
                    </p>
                </div>
            </div>

        </div>
    </div>


    <script>


        function getwidth() {
            var h = window.innerHeight;
            console.log(h);
            return h;
        }
    </script>
