<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="">solicitar.io</a>
    <div class="collapse navbar-collapse" id="navbarExample">
        <ul class="sidebar-nav navbar-nav">
            <li class="nav-item active" id="interviewerDashboard">
                <a class="nav-link" href ng-click="model.tab='interviewerDash'"><i class="fa fa-fw fa-dashboard"></i>
                    Dashboard</a>
            </li>
            <li class="nav-item" id="interviewerProfile">
                <a class="nav-link" href ng-click="model.tab='interviewerProfile'">
                    <i class="fa fa-fw fa-user-circle-o"></i> Profile</a>
            </li>
            <li class="nav-item" id="interviewerUpcoming">
                <a class="nav-link" href ng-click="model.tab='interviewerUpcoming'"><i class="fa fa-fw fa-forward"></i>
                    Upcoming Interviews</a>
            </li>
            <li class="nav-item" id="interviewerPast">
                <a class="nav-link" href ng-click="model.tab='interviewerPast'"><i class="fa fa-fw fa-backward"></i>
                    Past
                    Interviews</a>
            </li>
            <li class="nav-item" id="interviewerSchedule">
                <a class="nav-link" href ng-click="model.tab='interviewerSchedule'"><i class="fa fa-fw fa-calendar"></i>
                    My
                    Schedule</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-envelope"></i> <span class="hidden-lg-up">Messages <span
                        class="badge badge-pill badge-primary">12 New</span></span>
                    <span class="new-indicator text-primary hidden-md-down"><i class="fa fa-fw fa-circle"></i><span
                            class="number">12</span></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">New Messages:</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="">
                        <strong>David Miller</strong> <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome!
                            These messages clip off when they reach the end of the box so they don't overflow over to
                            the sides!
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="">
                        <strong>Jane Smith</strong> <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00
                            instead of 4:00. Thanks!
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="">
                        <strong>John Doe</strong> <span class="small float-right text-muted">11:21 AM</span>
                        <div class="dropdown-message small">I've sent the final files over to you for review. When
                            you're able to sign off of them let me know and we can discuss distribution.
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        View All Messages
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" href="" id="alertsDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bell"></i> <span class="hidden-lg-up">Alerts <span
                        class="badge badge-pill badge-warning">6 New</span></span>
                    <span class="new-indicator text-warning hidden-md-down"><i class="fa fa-fw fa-circle"></i><span
                            class="number">6</span></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                    <a class="dropdown-item" href="">Action</a>
                    <a class="dropdown-item" href="">Another action</a>
                    <a class="dropdown-item" href="">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0 mr-lg-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                    </span>
                    </div>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="model.logout()"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
            </li>
        </ul>
    </div>
</nav>


<!--<ng-include src="views/users/templates/users/dashboard.users.view.client.html"></ng-include>-->


<div ng-switch on="model.tab">
    <div ng-switch-when="interviewerDash">
        <ng-include src="'views/users/templates/interviewer/dashboard.interviewer.view.client.html'"
                    onload="model.initializeInterviewerDashboard()"></ng-include>
    </div>
    <div ng-switch-when="interviewerProfile">
        <ng-include src="'views/users/templates/interviewer/editprofile.view.client.html'"
                    onload="model.initializeInterviewerProfile()"></ng-include>
    </div>
    <div ng-switch-when="interviewerUpcoming">
        <ng-include src="'views/users/templates/interviewer/upcoming.view.client.html'"
                    onload="model.initializeInterviewerUpcomingInterviews()"></ng-include>
    </div>
    <div ng-switch-when="interviewerPast">
        <ng-include src="'views/users/templates/interviewer/past.view.client.html'"
                    onload="model.initializeInterviewerPast()"></ng-include>
    </div>
    <div ng-switch-when="interviewerNew">
        <ng-include src="'views/users/templates/interviewer/newschedule.view.client.html'"></ng-include>
    </div>
    <div ng-switch-when="interviewerViewCandidates">
        <ng-include src="'views/users/templates/interviewer/viewcandidates.view.client.html'"
                    onload="model.initializeViewCandidates()"></ng-include>
    </div>
    <div ng-switch-when="interviewerScheduleInterview">
        <ng-include src="'views/users/templates/interviewer/scheduleinterview.view.client.html'"
                    onload="model.interviewerScheduleInterview()"></ng-include>
    </div>

    <div ng-switch-when="interviewerViewCandidateProfile">
        <ng-include src="'views/users/templates/interviewer/interviewerViewCandidateProfile.view.client.html'"
                    onload="model.interviewerGetCandidateProfile()"></ng-include>
    </div>

    <div ng-switch-when="interviewerPastInterviews">
        <ng-include src="'views/users/templates/interviewer/past.interviews.view.client.html'"
                    onload="model.initializeInterviewerPastInterviewsCandidates()"></ng-include>
    </div>
    <div ng-switch-when="interviewerSchedule">
        <ng-include src="'views/users/templates/interviewer/myschedule.view.client.html'"
                    onload="model.initializeInterviewerSchedule()"></ng-include>
    </div>

    <div ng-switch-default>
        <ng-include src="'views/users/templates/interviewer/dashboard.interviewer.view.client.html'"
                    onload="model.initializeInterviewerDashboard()"></ng-include>
    </div>
</div>
<script>
    $(document).on('click','.navbar-collapse',function(e) {
//        console.log(e);
        if( $(e.target).is('a.nav-link') ) {
            $(this).collapse('hide');
            if (window.console) console.log('foo');
        }
    });
</script>