<div class="container-fluid" onpageshow="getwidth()">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href ng-click="model.tab='interviewerDash'">Homepage</a></li>
        <li class="breadcrumb-item"><a href ng-click="model.tab='interviewerUpcoming'">{{model.user.firstName}}'s
            Upcoming Interviews</a></li>
        <li class="breadcrumb-item"><a href ng-click="model.tab='interviewerViewCandidates'">View Candidates</a></li>
        <li class="breadcrumb-item active">{{model.applicant.firstName}}'s Profile</li>
    </ol>
    <!-- Card Columns -->
    <div class="card-deck">
        <div class="card">
            <h3 class="card-header">
                <small>Profile</small>
            </h3>
            <div class="card-block" id="imgoverlay">
                <img class="card-img-top img-fluid w-100" src="{{model.applicant.picture}}" alt="Card image cap">
            </div>
            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>

            <div ng-show="model.message" class="alert alert-success" role="alert">
                {{model.message}}
            </div>

            <div class="card-block" id="profcard">
                <h4 class="card-title">{{model.applicantName}}</h4>
                <p class="card-text">

                    <label><b>Username:</b></label>
                    <!--<p>{{model.user.username}}</p>-->
                    <label for="email"><b>Email:</b></label>
                    <input id="email" class="form-control" type="email" ng-model="model.applicant.email"
                           placeholder="Email" readonly/>

                    <label for="first"><b>First Name:</b></label>
                    <input id="first" class="form-control" type="text" ng-model="model.applicant.firstName"
                           placeholder="First Name" readonly/>

                    <label for="last"><b>Last Name:</b></label>
                    <input id="last" class="form-control" type="text" ng-model="model.applicant.lastName"
                           placeholder="Last Name" readonly/>
                    <label></label>
                </p>
            </div>
        </div>
        <div class="card fullHeight hidden-md-down">
            <h3 class="card-header">
                <small>Resume</small>
            </h3>
            <div class="card-block content-body">
                <embed id="resumeframe" class="resume" src="{{model.applicant.resume}}"
                       width="100%">
            </div>
        </div>
        <div class="card fullHeight hidden-md-down">
            <h3 class="card-header">
                <small>Cover Letter</small>
            </h3>
            <div class="card-block content-body">
                <embed id="cover-letter-frame" class="cover-letter" src="{{model.applicant.coverLetter}}"
                       width="100%">
            </div>
        </div>

        <div class="card hidden-lg-up">
            <h3 class="card-header ">
                <small>Resume</small>
                <div class="btn-group pull-right marginRight" role="group" aria-label="...">
                    <button class="btn btn-primary">View</button>
                </div>
            </h3>
        </div>
        <div class="card hidden-lg-up">
            <h3 class="card-header">
                <small>Cover Letter</small>
                <div class="btn-group pull-right marginRight" role="group" aria-label="...">
                    <button class="btn btn-primary">View</button>
                </div>
            </h3>
        </div>
    </div>

</div>

<script>

    function getwidth() {
        var h = window.innerHeight;
        console.log(h);
        return h;
    }
</script>
