<div class="container-fluid">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href ng-click="model.tab='dashboard'">Homepage</a></li>
        <li class="breadcrumb-item active">{{model.user.firstName}}'s Schedule</li>
    </ol>
    <div ng-show="model.emptySchedule" class="alert alert-danger" role="alert">
        No Interviews found!
    </div>
    <div ng-show="model.startInterviewMessage" class="alert alert-danger" role="alert">
        The Interview can be accessed only 1 hour before the start time!
    </div>
    <div class="card" ng-hide="model.emptySchedule">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Candidate Name</th>
                    <th>Position</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="interview in model.mySchedule">
                    <td data-label="Candidate Name ">
                        {{interview._applicant.firstName}}  {{interview._applicant.lastName}}
                    </td>
                    <td data-label="Position ">
                        {{interview._position.name}}
                    </td>
                    <td data-label="Date ">
                        <span ng-bind="model.getBeautifulDate(interview.start)"></span>
                        <!--{{interview.start}}-->
                    </td>
                    <!--CHANGE HERE TO START INTERVIEW-->
                    <td data-label="Status">
                        <span class="badge badge-default badge-pill" href ng-click="model.toStartInterview(interview) && model.startInterview(interview)">Start Interview</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
