<div class="container-fluid">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href ng-click="model.tab='interviewerDash'">Homepage</a></li>
        <li class="breadcrumb-item active">{{model.user.firstName}}'s Past Interviews</li>
    </ol>
    <div ng-show="model.emptyPastInterviews" class="alert alert-danger" role="alert">
        No Interviews found!
    </div>
    <div class="card-deck" ng-hide="model.emptyPastInterviews">
        <div class="col-xl-3 col-sm-6 mb-3" ng-repeat="interview in model.interviewerPastInterviews">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{interview._position.name}}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{interview._position.location}}</li>
                    <li class="list-group-item"><b>Date: </b> {{model.getBeautifulDate(interview.start)}}</li>

                </ul>
            </div>
        </div>
    </div>


</div>