<div class="container-fluid">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href="">Homepage</a></li>
        <li class="breadcrumb-item"><a href ng-click="model.tab='interviewerUpcoming'">{{model.user.firstName}}'s
            Upcoming Interviews</a></li>
        <li class="breadcrumb-item"><a href ng-click="model.tab='interviewerViewCandidates'">View Candidates</a></li>
        <li class="breadcrumb-item active">Schedule Interview</li>
    </ol>

    <!-- Error -->

    <div class="card-deck">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Schedule Interview with {{model.applicant.name}}</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" ng-repeat="timing in model.applicantTiming">
                    {{timing.date}} : {{timing.start}} --> {{timing.end}}
                </li>
            </ul>
            <div class="card-block card-footer">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>EndTime</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <select id="toOptions" class="form-control" ng-model="model.scheduleDate"
                                            ng-options="c for c in model.scheduleDates"></select>
                                </div>
                            </td>

                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="from" placeholder="HH:MM" ng-model="model.scheduleFrom">
                                </div>
                            </td>

                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="to" placeholder="HH:MM" ng-model="model.scheduleTo">
                                </div>
                            </td>

                            <td>
                                <button class="btn btn-block btn-success" ng-click="model.interviewerScheduleInterview()"> Schedule Interview </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>