<div class="container-fluid">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href="">Homepage</a></li>
        <li class="breadcrumb-item active">{{model.user.firstName}}'s Upcoming Interviews</li>
    </ol>

    <div ng-show="model.emptyUpcomingInterviews" class="alert alert-danger" role="alert">
        No Interviews found!
    </div>
    <div class="card-deck" ng-hide="model.emptyUpcomingInterviews">
        <div class="col-xl-3 col-sm-6 mb-3" ng-repeat="interview in model.interviewerUpcomingInterviews">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{interview._position.name}}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{interview._position.location}}</li>
                </ul>
                <a class="card-footer clearfix small z-1" href ng-click="model.interviewInstance=interview; model.interviewpositionname= interview._position.name; model.tab='interviewerViewCandidates'">
                    <span class="float-left">View Candidates</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>