<div class="container-fluid">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href="">Homepage</a></li>
        <li class="breadcrumb-item active">{{model.user.firstName}}'s Upcoming Interviews</li>
    </ol>

    <!--<div class="card mb-3 hidden-md-down">-->
        <!--<div class="card-header">-->
            <!--<i class="fa fa-bar-chart"></i> Scheduled Interviews-->
        <!--</div>-->
        <!--<div class="card-block">-->
            <!--<table class="table my-3 breadcrumb" style="background-color: white;">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>#</th>-->
                    <!--<th>Organization</th>-->
                    <!--<th>Position</th>-->
                    <!--<th>Date</th>-->
                    <!--<th>Day</th>-->
                    <!--<th>Time</th>-->
                    <!--<th>Options</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--<th scope="row">1</th>-->
                    <!--<td>New York Life</td>-->
                    <!--<td>Software Developer</td>-->
                    <!--<td>March-29-2017</td>-->
                    <!--<td>Wednesday</td>-->
                    <!--<td>1800 Hours</td>-->
                    <!--<td><button class="btn btn-primary">First</button><button class="btn btn-primary">First</button><button class="btn btn-primary">First</button></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th scope="row">1</th>-->
                    <!--<td>New York Life</td>-->
                    <!--<td>Software Developer</td>-->
                    <!--<td>March-29-2017</td>-->
                    <!--<td>Wednesday</td>-->
                    <!--<td>1800 Hours</td>-->
                    <!--<td><button class="btn btn-primary">First</button><button class="btn btn-primary">First</button><button class="btn btn-primary">First</button></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<th scope="row">1</th>-->
                    <!--<td>New York Life</td>-->
                    <!--<td>Software Developer</td>-->
                    <!--<td>March-29-2017</td>-->
                    <!--<td>Wednesday</td>-->
                    <!--<td>1800 Hours</td>-->
                    <!--<td><button class="btn btn-primary">First</button><button class="btn btn-primary">First</button><button class="btn btn-primary">First</button></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!--<div class="card-footer text-muted">-->
            <!--<small>2 Days Ago</small>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">New York Life</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Software Developer</li>
                    <li class="list-group-item">March-29-2017 | Wednesday</li>
                    <li class="list-group-item">1800 Hours</li>
                </ul>
                <div class="card-block">
                    <a href="" class="card-link">Card link</a>
                    <a href="" class="card-link">Another link</a>
                </div>
                <a href="#" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">New York Life</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Software Developer</li>
                    <li class="list-group-item">March-29-2017 | Wednesday</li>
                    <li class="list-group-item">1800 Hours</li>
                </ul>
                <div class="card-block">
                    <a href="" class="card-link">Card link</a>
                    <a href="" class="card-link">Another link</a>
                </div>
                <a href="#" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">New York Life</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Software Developer</li>
                    <li class="list-group-item">March-29-2017 | Wednesday</li>
                    <li class="list-group-item">1800 Hours</li>
                </ul>
                <div class="card-block">
                    <a href="" class="card-link">Card link</a>
                    <a href="" class="card-link">Another link</a>
                </div>
                <a href="#" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">New York Life</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Software Developer</li>
                    <li class="list-group-item">March-29-2017 | Wednesday</li>
                    <li class="list-group-item">1800 Hours</li>
                </ul>
                <div class="card-block">
                    <a href="" class="card-link">Card link</a>
                    <a href="" class="card-link">Another link</a>
                </div>
                <a href="#" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">New York Life</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Software Developer</li>
                    <li class="list-group-item">March-29-2017 | Wednesday</li>
                    <li class="list-group-item">1800 Hours</li>
                </ul>
                <div class="card-block">
                    <a href="" class="card-link">Card link</a>
                    <a href="" class="card-link">Another link</a>
                </div>
                <a href="#" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">New York Life</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Software Developer</li>
                    <li class="list-group-item">March-29-2017 | Wednesday</li>
                    <li class="list-group-item">1800 Hours</li>
                </ul>
                <div class="card-block">
                    <a href="" class="card-link">Card link</a>
                    <a href="" class="card-link">Another link</a>
                </div>
                <a href="#" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">New York Life</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Software Developer</li>
                    <li class="list-group-item">March-29-2017 | Wednesday</li>
                    <li class="list-group-item">1800 Hours</li>
                </ul>
                <div class="card-block">
                    <a href="" class="card-link">Card link</a>
                    <a href="" class="card-link">Another link</a>
                </div>
                <a href="#" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">New York Life</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Software Developer</li>
                    <li class="list-group-item">March-29-2017 | Wednesday</li>
                    <li class="list-group-item">1800 Hours</li>
                </ul>
                <div class="card-block">
                    <a href="" class="card-link">Card link</a>
                    <a href="" class="card-link">Another link</a>
                </div>
                <a href="#" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">New York Life</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Software Developer</li>
                    <li class="list-group-item">March-29-2017 | Wednesday</li>
                    <li class="list-group-item">1800 Hours</li>
                </ul>
                <div class="card-block">
                    <a href="" class="card-link">Card link</a>
                    <a href="" class="card-link">Another link</a>
                </div>
                <a href="#" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">New York Life</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Software Developer</li>
                    <li class="list-group-item">March-29-2017 | Wednesday</li>
                    <li class="list-group-item">1800 Hours</li>
                </ul>
                <div class="card-block">
                    <a href="" class="card-link">Card link</a>
                    <a href="" class="card-link">Another link</a>
                </div>
                <a href="#" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>

    </div>


</div>