<div class="container-fluid">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href ng-click="model.tab='interviewerDash'">Homepage</a></li>
        <li class="breadcrumb-item"><a href ng-click="model.tab='interviewerUpcoming'">{{model.user.firstName}}'s
            Upcoming Interviews</a></li>
        <li class="breadcrumb-item active">View Candidates</li>
    </ol>

    <div ng-show="model.emptyUpcomingCandidates" class="alert alert-danger" role="alert">
        No Candidates found!
    </div>
    <div class="card-deck" ng-hide="model.emptyUpcomingCandidates">
        <div class="card col-sm-4" ng-repeat="applicant in model.interviewApplicants">
            <div class="card-header">
                {{model.interviewpositionname}}
            </div>
            <div class="card-block">
                <b>Candidate Name: </b> {{applicant._applicant.firstName}} {{applicant._applicant.lastName}}
            </div>
            <div class="card-footer">
                <span class="float-left"><a href ng-click="model.applicantInstance=applicant; model.tab='interviewerScheduleInterview'">Schedule Interview</a></span>
                <span class="float-right"><a href ng-click="model.applicantId=applicant._applicant._id; model.tab='interviewerViewCandidateProfile'">View Profile</a></span>
            </div>
        </div>
    </div>
</div>