<script src="../../../js/my.js"></script>

<script src="typed.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        Typed.new('.element', {
            strings: ["First sentence.", "Second sentence."],
            typeSpeed: 5
        });
    });
</script>


<!--<div style="background: #000000; margin-left: -250px; margin-top: -56px; height: 100vh; width: 100vw; color: #00ff00; font-family: 'Courier New';">-->
    <div class="container-fluid" style="background: #000000; color: #00ff00; font-family: 'Courier New';    ">
        <h1>Welcome to the admin panel</h1>
        <h1></h1>
        <h4>Create new recruiter:</h4>

        <div style="padding-top: 50px;">
        <label>First Name: </label>
        <input type="text" id="firstname" class="form-control" ng-model="user.firstName" placeholder="First Name" style="background-color: transparent; color: #00ff00">
        </div>
    </div>

<!--</div>-->


