<script src="../../../js/my.js"></script>
<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="">solicitar.io</a>

    <div class="collapse navbar-collapse " id="navbarExample">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-5" data-toggle="dropdown">Login<span class="caret"></span></a>
                <div class="dropdown-menu">
                    <div class="dropdown-item social-buttons">
                        <div class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</div>
                        <div class="btn btn-gg"><i class="fa fa-google-plus-official"></i> Google +</div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="container-fluid">
                    <div ng-show="model.error" class="alert alert-danger" role="alert">
                        {{model.error}}
                    </div>
                    </div>
                    <form class="form" role="form" id="login-nav">
                        <div class="form-group container-fluid">
                            <label for="username" class="sr-only">Username</label>
                            <input type="text" id="username" class="form-control" ng-model="user.username"
                                   placeholder="Username" required>
                        </div>
                        <div class="form-group container-fluid">
                            <label for="passwords" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="passwords" placeholder="Password" ng-model="user.password" required>
                            <div class="help-block text-right"><a href="">Forgot password?</a></div>
                        </div>
                        <div class="form-group container-fluid">
                            <button type="submit" class="btn btn-primary btn-block" data-toggle="dropdown" ng-click="model.login(user)">Sign
                                In
                            </button>
                        </div>
                        <div class="checkbox container-fluid">
                            <label>
                                <input type="checkbox"> Remember Me !
                            </label>
                        </div>
                    </form>

                </div>
            </li>

            <!--<li class="nav-item">-->
                <!--<a class="btn btn-primary" href="#/register"><i class="fa fa-fw fa-sign-out"></i> Sign-->
                    <!--Up-->
                <!--</a>-->
            <!--</li>-->
            <li class="nav-item">
            <button class="btn btn-primary" id="buttonup" data-toggle="modal" data-target="#myModal"><i class="fa fa-fw fa-sign-out"></i>
                Sign Up</button>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="myModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid"> <h4 class="modal-title leftalign" id="myModalLabel">
                    Welcome to solicitar.io !</h4> </div>
                <button type="button" class="close" id="buttondown" data-dismiss="modal" aria-hidden="true">
                    ×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="border-right: 1px dotted #C2C2C2;padding-right: 20px;">
                        <!-- Nav tabs -->
                        <div class="container">
                        <ul class="nav nav-tabs">
                            <!--<li><button class="btn btn-primary" data-toggle="modal" data-target="#Registration"><i class="fa fa-fw fa-sign-out"></i>-->
                                <!--Sign Up</button></li>-->
                            <li class="active"><a data-target="#Registration" data-toggle="tab">Registration</a></li>
                        </ul>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!--<div class="tab-pane" id="Login">-->
                                <!--<form role="form" class="form-horizontal">-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="email" class="col-sm-2 control-label">-->
                                            <!--Email</label>-->
                                        <!--<div class="col-md-12">-->
                                            <!--<input type="email" class="form-control" id="email1" placeholder="Email" />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="exampleInputPassword1" class="col-sm-2 control-label">-->
                                            <!--Password</label>-->
                                        <!--<div class="col-md-12">-->
                                            <!--<input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email" />-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-sm-2">-->
                                        <!--</div>-->
                                        <!--<div class="col-md-12">-->
                                            <!--<button type="submit" class="btn btn-primary btn-sm">-->
                                                <!--Submit</button>-->
                                            <!--<a href="javascript:;">Forgot your password?</a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</form>-->
                            <!--</div>-->
                            <div class="tab-pane active" id="Registration">
                                <form role="form" class="form-horizontal">
                                    <div ng-show="model.error" class="alert alert-danger" role="alert">
                                        {{model.error}}
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-md-12 control-label">
                                            Full Name</label>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" ng-model="user.firstName" placeholder="First Name" />
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" ng-model="user.lastName" placeholder="Last Name" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile" class="col-sm-2 control-label">
                                            Username</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" id="mobile" ng-model="user.username" placeholder="Username" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">
                                            Email</label>
                                        <div class="col-md-12">
                                            <input type="email" class="form-control" ng-model="user.email" id="email" placeholder="Email" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-2 control-label">
                                            Password</label>
                                        <div class="col-md-12">
                                            <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordagain" class="col-md-12 control-label">
                                            Retype Password</label>
                                        <div class="col-md-12">
                                            <input type="password" class="form-control" id="passwordagain" ng-model="user.passverify" placeholder="Retype Password" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <a class="btn btn-primary col-12" ng-click= "model.create(user)">
                                                <div class="colwhite" data-dismiss="modal" aria-hidden="true">Register</div></a>
                                        </div>
                                    </div>
                                    <!--<div class="row container">-->
                                        <!--<div class="col-md-12">-->
                                        <!--</div>-->
                                        <!--<div class="col-md-12">-->
                                            <!--<a class="btn btn-primary" ng-click= "model.create(startpage)">-->
                                                <!--<div class="colwhite">Register </div></a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </form>
                            </div>
                        </div>
                        <!--<div id="OR" class="hidden-xs">-->
                            <!--OR</div>-->
                    </div>
                    <!--<div class="col-md-4">-->
                        <!--<div class="row text-center sign-with">-->
                            <!--<div class="col-md-12">-->
                                <!--<h3>-->
                                    <!--Sign in with</h3>-->
                            <!--</div>-->
                            <!--<div class="col-md-12">-->
                                <!--<div class="btn-group btn-group-justified">-->
                                    <!--<a href="#" class="btn btn-primary">Facebook</a> <a href="#" class="btn btn-danger">-->
                                    <!--Google</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="container">-->

<!--<h1>Login</h1>-->

<!--<div ng-show="model.error" class="alert alert-danger" role="alert">-->
<!--{{model.error}}-->
<!--</div>-->

<!--<label for="username">Username</label>-->
<!--<input id="username" class="form-control" ng-model="startpage.username" type="text" placeholder="Username"/>-->
<!--<label for="password">Password</label>-->
<!--<input id="password" class="form-control" ng-model="startpage.password" type="password" placeholder="Password"/>-->
<!--<a class="btn btn-primary btn-block" ng-click="model.login(startpage)">-->
<!--Login-->
<!--</a>-->
<!--<a class="btn btn-success btn-block" href="#/register">-->
<!--Register-->
<!--</a>-->
<!--</div>-->
<ul class="white">
<div id="newpost">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:900" rel="stylesheet">
    solicitar.io
</div>
<div class="offwhite" id="newpost2">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:900" rel="stylesheet">
    Tired of waiting in long queues for the dream job?<br>
    Try solicitar.io today!<br>
    It is easy, quick and rewarding!<br><br><br>
    Like our work? Shoot us a message!<br>


</div>
</ul>


