<div class="container-fluid">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href="">Homepage</a></li>
        <li class="breadcrumb-item active">{{model.user.firstName}}'s Dashboard</li>
    </ol>

    <!-- Area Chart Example -->
    <div class="card mb-3 col-sm-12">
        <div class="card-header">
            <i class="fa fa-bar-chart"></i> Next Interview
        </div>

        <div class="card-block" ng-hide="model.dashboardNonEmpty">
            No Recent Upcoming Interview!
        </div>

        <div class="card-block" ng-show="model.dashboardNonEmpty">
            <b>Interviewer: </b> {{model.applicantNextInterview[0]._interviewer.firstName}}
            {{model.applicantNextInterview[0]._interviewer.lastName}}<br>
            <b>Position: </b> {{model.applicantNextInterview[0]._position.name}} <br>
            <b>Location: </b> {{model.applicantNextInterview[0]._position.location}} <br>
            <b>Start Time : </b> {{ model.getBeautifulDate(model.applicantNextInterview[0].start)}}<br>
            <button class="btn btn-primary form-control" href
                    ng-click="model.toStartInterview(model.applicantNextInterview[0]) && model.startInterview(model.applicantNextInterview[0])">
                Start Interview
            </button>
        </div>
        <div class="card-footer text-muted">
            <!--<small>2 Days Ago</small>-->
        </div>
    </div>
</div>
