<div class="container-fluid" onpageshow="getwidth()">

    <div class="container-fluid">
        <ol class="breadcrumb my-3">
            <li class="breadcrumb-item"><a href="">Homepage</a></li>
            <li class="breadcrumb-item active">{{model.user.firstName}}'s Profile</li>
        </ol>
    </div>
    <!-- Card Columns -->
    <div class="card-deck">
        <div class="col-md-12 col-lg-4 mb-3">
            <div class="card" style="min-height: 80vh;">
                <div class="card-header">
                    Profile
                    <button class="btn btn-sm btn-primary pull-right" ng-click="model.updateUser(model.user)">Update
                        Profile
                </button>
                </div>
            <div class="card-footer clearfix small" id="imgoverlay">
                <form action="/api/upload/image" method="post" enctype="multipart/form-data">
                    <img class="card-img-top img-fluid w-100" src="{{model.user.picture}}" alt="Card image cap">
                    <input class="image-upload pull-left" type="file" id="picture-upload" name="profile-picture"/>
                    <input name="userId" value="{{model.user._id}}" style="display: none"/>
                    <input name="email" value="{{model.user.email}}" style="display: none"/>
                    <input name="firstName" value="{{model.user.firstName}}" style="display: none"/>
                    <input name="lastName" value="{{model.user.lastName}}" style="display: none"/>
                    <button type="submit" class="btn btn-sm btn-primary pull-right image-upload">Upload</button>
                </form>
            </div>
            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>

            <div ng-show="model.message" class="alert alert-success" role="alert">
                {{model.message}}
            </div>

            <div class="card-block" id="profcard">
                <h4 class="card-title">{{model.name}}</h4>
                <p class="card-text">

                    <label><b>Username:</b></label>
                    <!--<p>{{model.user.username}}</p>-->
                    <input class="form-control nonedit" type="text" ng-model="model.user.username"
                           placeholder="Username" readonly/>

                    <label for="email"><b>Email:</b></label>
                    <input id="email" class="form-control" type="email" ng-model="model.user.email"
                           placeholder="Email"/>

                    <label for="first"><b>First Name:</b></label>
                    <input id="first" class="form-control" type="text" ng-model="model.user.firstName"
                           placeholder="First Name"/>

                    <label for="last"><b>Last Name:</b></label>
                    <input id="last" class="form-control" type="text" ng-model="model.user.lastName"
                           placeholder="Last Name"/>
                    <label></label>
                    <button class="btn btn-warning btn-block" ng-click="model.deleteUser()">
                        Deregister
                    </button>
                </p>
            </div>

            <!--<div class="card-footer">-->
            <!--<small class="text-muted">Last updated 3 mins ago</small>-->
            <!--</div>-->
        </div>
        </div>
        <div class="col-md-12 col-lg-4 mb-3">
            <div class="card" style="height: 80vh;">
                <div class="card-header">
                    Resume
                    <button onclick="document.forms['resumeForm'].submit()" class="btn btn-sm btn-primary pull-right">
                        Upload
                    </button>
                </div>
                <div class="card-block content-body">
                    <!--<iframe src="http://www.cameronmoll.com/about/cameronmoll_bio.pdf#view=fit"></iframe>-->
                    <embed id="resumeframe" class="resume"  embed-src="{{model.user.resume}}" width="100%">
                        <!--<div><iframe id="resumeframe" src="http://www.orimi.com/pdf-test.pdf" onload="getwidth()" style="border: none;"></iframe></div>-->
                </div>
                <div class="card-footer clearfix small">
                    <form action="/api/upload/resume" method="post" enctype="multipart/form-data" name="resumeForm">
                            <input class="resume-upload" type="file" id="resume-upload" name="resume"/>
                            <input name="userId" value="{{model.user._id}}" style="display: none"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4 mb-3">
            <div class="card" style="height: 80vh;">
                <div class="card-header">
                    Cover Letter
                    <button type="submit" onclick="document.forms['coverLetterForm'].submit()" class="btn btn-sm btn-primary pull-right">Upload</button>
                </div>
                <div class="card-block content-body">
                    <embed id="cover-letter-frame" class="cover-letter" embed-src="{{model.user.coverLetter}}" width="100%">
                </div>
                <div class="card-footer clearfix small">
                    <form action="/api/upload/cover-letter" method="post" enctype="multipart/form-data" name="coverLetterForm">
                        <input class="resume-upload" type="file" id="cover-letter-upload" name="cover-letter"/>
                        <input name="userId" value="{{model.user._id}}" style="display: none"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getwidth() {
        var h = window.innerHeight;
        console.log(h);
        return h;
    }
</script>

