<div class="container-fluid" onpageshow="getwidth()">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href="">Homepage</a></li>
        <li class="breadcrumb-item active">Schedule Interview</li>
    </ol>
    <div class="card">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Month</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>EndTime</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <select id="monthOptions" class="form-control" ng-change="model.setDays()"
                                    ng-model="model.month"
                                    ng-options="c for c in model.months"></select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select id="dayOptions" class="form-control" ng-model="model.day"
                                    ng-change="model.setHours()"
                                    ng-options="c for c in model.days"></select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select id="fromOptions" class="form-control" ng-model="model.from"
                                    ng-disabled='model.weekend'
                                    ng-options="c for c in model.hours"></select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select id="toOptions" class="form-control" ng-model="model.to" ng-disabled='model.weekend'
                                    ng-options="c for c in model.hours"></select>
                        </div>
                    </td>

                    <td>
                        <button class="btn-block btn-success" ng-click="model.addTimeToList()"> Select Time</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-control" rows="2" readonly>
            <div class="row">
                <div class="col-xs-9">
                    <h2> Your Available Timings: </h2>
                </div>
                <div class="col-xs-3">
                    <button class="pull-right btn btn-block btn-success" ng-click="model.newTimings()">Create</button>
                </div>
                </div>
            </div>
        </div>

        <ul class="list-group">

            <li class="list-group-item justify-content-between" ng-repeat="timing in model.TimingList">
                {{timing.from}} -- {{timing.to}}
                <span class="badge badge-default badge-pill" ng-click="model.deleteTiming()">Delete</span>
            </li>


        </ul>


    </div>
</div>
</div>
</div>