<div class="container-fluid">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href="">Homepage</a></li>
        <li class="breadcrumb-item active">{{model.user.firstName}}'s Previous Interviews</li>
    </ol>

    <div ng-show="model.emptyPastInterviews" class="alert alert-danger" role="alert">
        No Interviews found!
    </div>
    <div class="card-deck" ng-hide="model.emptyPastInterviews">
        <div class="col-xl-3 col-sm-6 mb-3" ng-repeat="interview in model.applicantPreviousInterviews">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{interview.position}}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{interview.location}}</li>
                    <li class="list-group-item">{{interview.date}}</li>
                </ul>
                <div class="card-block">
                    <h6 class="card-title">Recruiter: </h6>
                    <a href="" class="card-link">{{interview.recruiterName}}</a>
                </div>
                <!--<a class="card-footer clearfix small z-1">-->
                    <!--<span class="float-left"-->
                          <!--href ng-click="model.interviewInstance=interview; model.tab='applicantScheduleInterview'">Schedule Interview</span>-->
                    <!--<span class="float-right"><i class="fa fa-angle-right"></i></span>-->
                <!--</a>-->
            </div>
        </div>
    </div>





    <!--<div class="col-xl-3 col-sm-6 mb-3" >-->
    <!--<div class="card">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">{{interview.position}}</h4>-->
    <!--</div>-->
    <!--<ul class="list-group list-group-flush">-->
    <!--<li class="list-group-item">{{interview.location}}</li>-->
    <!--</ul>-->
    <!--<div class="card-block">-->
    <!--<h6 class="card-title">Recruiter: </h6>-->
    <!--<a href="" class="card-link">{{interview.recruiterName}}</a>-->
    <!--</div>-->
    <!--<a class="card-footer clearfix small z-1">-->
    <!--<span class="float-left"-->
    <!--href ng-click="model.interviewInstance=interview; model.tab='interviewerViewCandidates'">View Candidates</span>-->
    <!--<span class="float-right"><i class="fa fa-angle-right"></i></span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <!--<div class="row">-->
    <!--<div class="col-xl-3 col-sm-6 mb-3">-->
    <!--<div class="card">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">New York Life</h4>-->
    <!--</div>-->
    <!--<ul class="list-group list-group-flush">-->
    <!--<li class="list-group-item">Software Developer</li>-->
    <!--<li class="list-group-item">March-29-2017 | Wednesday</li>-->
    <!--<li class="list-group-item">1800 Hours</li>-->
    <!--</ul>-->
    <!--<div class="card-block">-->
    <!--<a href="" class="card-link">Card link</a>-->
    <!--<a href="" class="card-link">Another link</a>-->
    <!--</div>-->
    <!--<a href="#" class="card-footer clearfix small z-1">-->
    <!--<span class="float-left">View Details</span>-->
    <!--<span class="float-right"><i class="fa fa-angle-right"></i></span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xl-3 col-sm-6 mb-3">-->
    <!--<div class="card">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">New York Life</h4>-->
    <!--</div>-->
    <!--<ul class="list-group list-group-flush">-->
    <!--<li class="list-group-item">Software Developer</li>-->
    <!--<li class="list-group-item">March-29-2017 | Wednesday</li>-->
    <!--<li class="list-group-item">1800 Hours</li>-->
    <!--</ul>-->
    <!--<div class="card-block">-->
    <!--<a href="" class="card-link">Card link</a>-->
    <!--<a href="" class="card-link">Another link</a>-->
    <!--</div>-->
    <!--<a href="#" class="card-footer clearfix small z-1">-->
    <!--<span class="float-left">View Details</span>-->
    <!--<span class="float-right"><i class="fa fa-angle-right"></i></span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xl-3 col-sm-6 mb-3">-->
    <!--<div class="card">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">New York Life</h4>-->
    <!--</div>-->
    <!--<ul class="list-group list-group-flush">-->
    <!--<li class="list-group-item">Software Developer</li>-->
    <!--<li class="list-group-item">March-29-2017 | Wednesday</li>-->
    <!--<li class="list-group-item">1800 Hours</li>-->
    <!--</ul>-->
    <!--<div class="card-block">-->
    <!--<a href="" class="card-link">Card link</a>-->
    <!--<a href="" class="card-link">Another link</a>-->
    <!--</div>-->
    <!--<a href="#" class="card-footer clearfix small z-1">-->
    <!--<span class="float-left">View Details</span>-->
    <!--<span class="float-right"><i class="fa fa-angle-right"></i></span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xl-3 col-sm-6 mb-3">-->
    <!--<div class="card">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">New York Life</h4>-->
    <!--</div>-->
    <!--<ul class="list-group list-group-flush">-->
    <!--<li class="list-group-item">Software Developer</li>-->
    <!--<li class="list-group-item">March-29-2017 | Wednesday</li>-->
    <!--<li class="list-group-item">1800 Hours</li>-->
    <!--</ul>-->
    <!--<div class="card-block">-->
    <!--<a href="" class="card-link">Card link</a>-->
    <!--<a href="" class="card-link">Another link</a>-->
    <!--</div>-->
    <!--<a href="#" class="card-footer clearfix small z-1">-->
    <!--<span class="float-left">View Details</span>-->
    <!--<span class="float-right"><i class="fa fa-angle-right"></i></span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xl-3 col-sm-6 mb-3">-->
    <!--<div class="card">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">New York Life</h4>-->
    <!--</div>-->
    <!--<ul class="list-group list-group-flush">-->
    <!--<li class="list-group-item">Software Developer</li>-->
    <!--<li class="list-group-item">March-29-2017 | Wednesday</li>-->
    <!--<li class="list-group-item">1800 Hours</li>-->
    <!--</ul>-->
    <!--<div class="card-block">-->
    <!--<a href="" class="card-link">Card link</a>-->
    <!--<a href="" class="card-link">Another link</a>-->
    <!--</div>-->
    <!--<a href="#" class="card-footer clearfix small z-1">-->
    <!--<span class="float-left">View Details</span>-->
    <!--<span class="float-right"><i class="fa fa-angle-right"></i></span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xl-3 col-sm-6 mb-3">-->
    <!--<div class="card">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">New York Life</h4>-->
    <!--</div>-->
    <!--<ul class="list-group list-group-flush">-->
    <!--<li class="list-group-item">Software Developer</li>-->
    <!--<li class="list-group-item">March-29-2017 | Wednesday</li>-->
    <!--<li class="list-group-item">1800 Hours</li>-->
    <!--</ul>-->
    <!--<div class="card-block">-->
    <!--<a href="" class="card-link">Card link</a>-->
    <!--<a href="" class="card-link">Another link</a>-->
    <!--</div>-->
    <!--<a href="#" class="card-footer clearfix small z-1">-->
    <!--<span class="float-left">View Details</span>-->
    <!--<span class="float-right"><i class="fa fa-angle-right"></i></span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xl-3 col-sm-6 mb-3">-->
    <!--<div class="card">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">New York Life</h4>-->
    <!--</div>-->
    <!--<ul class="list-group list-group-flush">-->
    <!--<li class="list-group-item">Software Developer</li>-->
    <!--<li class="list-group-item">March-29-2017 | Wednesday</li>-->
    <!--<li class="list-group-item">1800 Hours</li>-->
    <!--</ul>-->
    <!--<div class="card-block">-->
    <!--<a href="" class="card-link">Card link</a>-->
    <!--<a href="" class="card-link">Another link</a>-->
    <!--</div>-->
    <!--<a href="#" class="card-footer clearfix small z-1">-->
    <!--<span class="float-left">View Details</span>-->
    <!--<span class="float-right"><i class="fa fa-angle-right"></i></span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xl-3 col-sm-6 mb-3">-->
    <!--<div class="card">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">New York Life</h4>-->
    <!--</div>-->
    <!--<ul class="list-group list-group-flush">-->
    <!--<li class="list-group-item">Software Developer</li>-->
    <!--<li class="list-group-item">March-29-2017 | Wednesday</li>-->
    <!--<li class="list-group-item">1800 Hours</li>-->
    <!--</ul>-->
    <!--<div class="card-block">-->
    <!--<a href="" class="card-link">Card link</a>-->
    <!--<a href="" class="card-link">Another link</a>-->
    <!--</div>-->
    <!--<a href="#" class="card-footer clearfix small z-1">-->
    <!--<span class="float-left">View Details</span>-->
    <!--<span class="float-right"><i class="fa fa-angle-right"></i></span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xl-3 col-sm-6 mb-3">-->
    <!--<div class="card">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">New York Life</h4>-->
    <!--</div>-->
    <!--<ul class="list-group list-group-flush">-->
    <!--<li class="list-group-item">Software Developer</li>-->
    <!--<li class="list-group-item">March-29-2017 | Wednesday</li>-->
    <!--<li class="list-group-item">1800 Hours</li>-->
    <!--</ul>-->
    <!--<div class="card-block">-->
    <!--<a href="" class="card-link">Card link</a>-->
    <!--<a href="" class="card-link">Another link</a>-->
    <!--</div>-->
    <!--<a href="#" class="card-footer clearfix small z-1">-->
    <!--<span class="float-left">View Details</span>-->
    <!--<span class="float-right"><i class="fa fa-angle-right"></i></span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xl-3 col-sm-6 mb-3">-->
    <!--<div class="card">-->
    <!--<div class="card-block">-->
    <!--<h4 class="card-title">New York Life</h4>-->
    <!--</div>-->
    <!--<ul class="list-group list-group-flush">-->
    <!--<li class="list-group-item">Software Developer</li>-->
    <!--<li class="list-group-item">March-29-2017 | Wednesday</li>-->
    <!--<li class="list-group-item">1800 Hours</li>-->
    <!--</ul>-->
    <!--<div class="card-block">-->
    <!--<a href="" class="card-link">Card link</a>-->
    <!--<a href="" class="card-link">Another link</a>-->
    <!--</div>-->
    <!--<a href="#" class="card-footer clearfix small z-1">-->
    <!--<span class="float-left">View Details</span>-->
    <!--<span class="float-right"><i class="fa fa-angle-right"></i></span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->


</div>