<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">solicitar.io</a>

    <div class="collapse navbar-collapse " id="navbarExample">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-5" data-toggle="dropdown">Login<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                    <div class="dropdown-item social-buttons">
                        <a class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                        <a class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                        <div class="form-group container-fluid">
                            <label class="sr-only">Username</label>
                            <input type="text" id="username" class="form-control" ng-model="user.username"
                                   placeholder="Username" required>
                        </div>
                        <div class="form-group container-fluid">
                            <label class="sr-only">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" required>
                            <div class="help-block text-right"><a href="">Forgot password?</a></div>
                        </div>
                        <div class="form-group container-fluid">
                            <button type="submit" class="btn btn-primary btn-block" ng-click="model.login(user)">Sign
                                in
                            </button>
                        </div>
                        <div class="checkbox container-fluid">
                            <label>
                                <input type="checkbox"> remember me
                            </label>
                        </div>
                    </form>

                </div>
                <!--<ul id="login-dp" class="dropdown-menu">-->
                <!--<li>-->
                <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                <!--Login via-->
                <!--<div class="social-buttons">-->
                <!--<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>-->
                <!--<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>-->
                <!--</div>-->
                <!--or-->
                <!--<form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">-->
                <!--<div class="form-group">-->
                <!--<label class="sr-only" for="exampleInputEmail2">Email address</label>-->
                <!--<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label class="sr-only" for="exampleInputPassword2">Password</label>-->
                <!--<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>-->
                <!--<div class="help-block text-right"><a href="">Forget the password ?</a></div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<button type="submit" class="btn btn-primary btn-block">Sign in</button>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                <!--<label>-->
                <!--<input type="checkbox"> keep me logged-in-->
                <!--</label>-->
                <!--</div>-->
                <!--</form>-->
                <!--</div>-->
                <!--<div class="bottom text-center">-->
                <!--New here ? <a href="#"><b>Join Us</b></a>-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
            </li>

            <li class="nav-item">
                <button class="btn btn-primary" href="#/login" type="button"><i class="fa fa-fw fa-sign-out"></i> Sign
                    Up
                </button>
            </li>
        </ul>
    </div>
</nav>

<!--<div class="container">-->

<!--<h1>Login</h1>-->

<!--<div ng-show="model.error" class="alert alert-danger" role="alert">-->
<!--{{model.error}}-->
<!--</div>-->

<!--<label for="username">Username</label>-->
<!--<input id="username" class="form-control" ng-model="user.username" type="text" placeholder="Username"/>-->
<!--<label for="password">Password</label>-->
<!--<input id="password" class="form-control" ng-model="user.password" type="password" placeholder="Password"/>-->
<!--<a class="btn btn-primary btn-block" ng-click="model.login(user)">-->
<!--Login-->
<!--</a>-->
<!--<a class="btn btn-success btn-block" href="#/register">-->
<!--Register-->
<!--</a>-->
<!--</div>-->


