<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">solicitar.io</a>

    <div class="collapse navbar-collapse " id="navbarExample">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-5" data-toggle="dropdown">Login<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                    <div class="dropdown-item social-buttons">
                        <div class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</div>
                        <div class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="container-fluid">
                    <div ng-show="model.error" class="alert alert-danger" role="alert">
                        {{model.error}}
                    </div>
                    </div>
                    <form class="form" role="form" id="login-nav">
                        <div class="form-group container-fluid">
                            <label for="username" class="sr-only">Username</label>
                            <input type="text" id="username" class="form-control" ng-model="user.username"
                                   placeholder="Username" required>
                        </div>
                        <div class="form-group container-fluid">
                            <label for="passwords" class="sr-only">Password</label>
                            <input type="password" class="form-control" id="passwords" placeholder="Password" ng-model="user.password" required>
                            <div class="help-block text-right"><a href="">Forgot password?</a></div>
                        </div>
                        <div class="form-group container-fluid">
                            <button type="submit" class="btn btn-primary btn-block" ng-click="model.login(user)">Sign
                                In
                            </button>
                        </div>
                        <div class="checkbox container-fluid">
                            <label>
                                <input type="checkbox"> Remember Me !
                            </label>
                        </div>
                    </form>

                </div>
            </li>

            <li class="nav-item">
                <button class="btn btn-primary" href="#/register" type="button"><i class="fa fa-fw fa-sign-out"></i> Sign
                    Up
                </button>
            </li>
        </ul>
    </div>
</nav>

<!--<div class="container">-->

<!--<h1>Login</h1>-->

<!--<div ng-show="model.error" class="alert alert-danger" role="alert">-->
<!--{{model.error}}-->
<!--</div>-->

<!--<label for="username">Username</label>-->
<!--<input id="username" class="form-control" ng-model="user.username" type="text" placeholder="Username"/>-->
<!--<label for="password">Password</label>-->
<!--<input id="password" class="form-control" ng-model="user.password" type="password" placeholder="Password"/>-->
<!--<a class="btn btn-primary btn-block" ng-click="model.login(user)">-->
<!--Login-->
<!--</a>-->
<!--<a class="btn btn-success btn-block" href="#/register">-->
<!--Register-->
<!--</a>-->
<!--</div>-->


