<div class="container">

    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <label for="username">Username</label>
    <input id="username" class="form-control" ng-model="user.username" type="text" placeholder="Username"/>
    <label for="password">Password</label>
    <input id="password" class="form-control" ng-model="user.password" type="password" placeholder="Password"/>
    <a class="btn btn-primary btn-block" ng-click="model.login(user)">
        Login
    </a>
    <a class="btn btn-success btn-block" href="#/register">
        Register
    </a>
</div>
