<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href ng-click="model.updateUser(model.user)" id="ntext">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a  class="navbar-brand" href="#/user/{{model.userId}}" id="ntext">
                Profile
            </a>
        </div>
    </div>
</nav>


<div class="container">
    <div ng-show= "model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div ng-show= "model.message" class="alert alert-success" role="alert">
        {{model.message}}
    </div>

    <form>

    <label>Username</label>
    <input class="form-control" type="text" ng-model="model.user.username" placeholder="Username"/>

    <label for="email">Email</label>
    <input id="email" class="form-control" type="email" ng-model="model.user.email" placeholder="Email" />

    <label for="first">First Name</label>
    <input id="first" class="form-control" type="text" ng-model="model.user.firstName" placeholder="First Name"/>

    <label for="last">Last Name</label>
    <input id="last" class="form-control" type="text" ng-model="model.user.lastName" placeholder="Last Name"/>

    <a class="btn btn-primary btn-block" href="#/user/{{model.userId}}/website">
        Websites
    </a>
    <a class="btn btn-success btn-block" ng-click="model.updateUser(model.user)">
        Update Profile
    </a>
    <a class="btn btn-warning btn-block" ng-click="model.deleteUser()">
        Deregister
    </a>
    <a class="btn btn-danger btn-block" href="#/login">
        Logout
    </a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-custom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a id="ntext">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>