<div class="container-fluid">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href="">Homepage</a></li>
        <li class="breadcrumb-item active">{{model.user.firstName}}'s Dashboard</li>
    </ol>

    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card card-inverse card-primary o-hidden h-100">
                <div class="card-block">
                    <div class="card-block-icon">
                        <i class="fa fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5">
                        {{model.posLength}} Job Openings
                    </div>
                </div>
                <a href ng-click="model.tab='recruiterpostings'" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card card-inverse card-success o-hidden h-100">
                <div class="card-block">
                    <div class="card-block-icon">
                        <i class="fa fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5">
                        {{model.interviewerLength}} Interviewers!
                    </div>
                </div>
                <a href ng-click="model.tab='recruiterInterviewers'" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card card-inverse card-warning o-hidden h-100">
                <div class="card-block">
                    <div class="card-block-icon">
                        <i class="fa fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="mr-5">
                        123 New Orders!
                    </div>
                </div>
                <a href="#" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card card-inverse card-danger o-hidden h-100">
                <div class="card-block">
                    <div class="card-block-icon">
                        <i class="fa fa-fw fa-support"></i>
                    </div>
                    <div class="mr-5">
                        13 New Tickets!
                    </div>
                </div>
                <a href="#" class="card-footer clearfix small z-1">
                    <span class="float-left">View Details</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>