<div class="container-fluid" onpageshow="getwidth()">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href="">Homepage</a></li>
        <li class="breadcrumb-item active">{{model.user.firstName}}'s Profile</li>
    </ol>
    <!-- Card Columns -->
    <!--<div class="card-deck">-->
        <div class="card">
            <form action="/api/upload/image" method="post" enctype="multipart/form-data">
                <h3 class="card-header">
                    <small>Profile</small>
                    <button class="btn btn-primary pull-right" ng-click="model.updateUser(model.user)">Update Profile
                    </button>
                </h3>
                <div class="card-block" id="imgoverlay">
                    <img class="card-img-top img-fluid w-100" src="{{model.user.picture}}" alt="Card image cap">
                    <input class="image-upload pull-left" type="file" id="picture-upload" name="profile-picture"/>
                    <input name="userId" value="{{model.user._id}}" style="display: none"/>
                    <input name="email" value="{{model.user.email}}" style="display: none"/>
                    <input name="firstName" value="{{model.user.firstName}}" style="display: none"/>
                    <input name="lastName" value="{{model.user.lastName}}" style="display: none"/>
                    <button type="submit" class="btn btn-primary pull-right image-upload">Upload</button>
                </div>
                <div ng-show="model.error" class="alert alert-danger" role="alert">
                    {{model.error}}
                </div>

                <div ng-show="model.message" class="alert alert-success" role="alert">
                    {{model.message}}
                </div>

                <div class="card-block" id="profcard">
                    <h4 class="card-title">{{model.name}}</h4>
                    <p class="card-text">

                        <label><b>Username:</b></label>
                        <!--<p>{{model.user.username}}</p>-->
                        <input class="form-control nonedit" type="text" ng-model="model.user.username"
                               placeholder="Username" readonly disabled/>

                        <label for="email"><b>Email:</b></label>
                        <input id="email" class="form-control" type="email" ng-model="model.user.email"
                               placeholder="Email"/>

                        <label for="first"><b>First Name:</b></label>
                        <input id="first" class="form-control" type="text" ng-model="model.user.firstName"
                               placeholder="First Name"/>

                        <label for="last"><b>Last Name:</b></label>
                        <input id="last" class="form-control" type="text" ng-model="model.user.lastName"
                               placeholder="Last Name"/>
                        <label></label>
                        <button class="btn btn-warning btn-block" ng-click="model.deleteUser()">
                            Deregister
                        </button>
                    </p>
                </div>
            </form>
            <!--<div class="card-footer">-->
            <!--<small class="text-muted">Last updated 3 mins ago</small>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="card hidden-lg-up" id="forthewidth">-->
            <!--<h3 class="card-header "><small>Resume</small>-->
                <!--<div class="btn-group pull-right marginRight" role="group" aria-label="...">-->
                    <!--<button class="btn btn-primary">View</button>-->
                <!--</div>-->
                <!--<div class="btn-group pull-right marginRight " role="group" aria-label="ll">-->
                    <!--<button class="btn btn-primary">Upload</button>-->
                <!--</div>-->
            <!--</h3>-->
        <!--</div>-->
        <!--<div class="card hidden-lg-up" id="forthewidth">-->
            <!--<h3 class="card-header "><small>Cover Letter</small>-->
                <!--<div class="btn-group pull-right marginRight" role="group" aria-label="...">-->
                    <!--<button class="btn btn-primary">View</button>-->
                <!--</div>-->
                <!--<div class="btn-group pull-right marginRight " role="group" aria-label="ll">-->
                    <!--<button class="btn btn-primary">Upload</button>-->
                <!--</div>-->
            <!--</h3>-->
        <!--</div>-->
    </div>
    <!--<div><iframe src="https://research.google.com/pubs/archive/44678.pdf"-->
    <!--width="800px" height="600px" ></iframe></div>-->

</div>

<!--&lt;!&ndash; jQuery Version 3.1.1 &ndash;&gt;-->
<!--<script src="lib/jquery/jquery.js"></script>-->

<!--&lt;!&ndash; Tether &ndash;&gt;-->
<!--<script src="lib/tether/tether.min.js"></script>-->

<!--&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
<!--<script src="lib/bootstrap/js/bootstrap.min.js"></script>-->

<!--&lt;!&ndash; Chart.js &ndash;&gt;-->
<!--<script src="lib/chart.js/Chart.min.js"></script>-->

<!--&lt;!&ndash; SB Admin JavaScript &ndash;&gt;-->
<!--<script src="js/sb-admin.min.js"></script>-->

<script>
    //    function editMethod() {
    //        var x = document.getElementById('profcard');
    //        if (x.style.display === 'none') {
    //            x.style.display = 'block';
    //        } else {
    //            x.style.display = 'none';
    //        }
    //        var x = document.getElementById('editcard');
    //        if (x.style.display === 'none') {
    //            x.style.display = 'block';
    //        } else {
    //            x.style.display = 'none';
    //        }
    //    }

    function getwidth() {
//        var iFrameID = document.getElementById('resumeframe');
//        if (iFrameID) {
//            // here you can make the height, I delete it first, then I make it again
//            iFrameID.width = "";
//            var temp = document.getElementById('forthewidth').clientWidth;
//            iFrameID.width = temp + "px";
////            iFrameID.height = temp + "px";
//
//            console.log(temp);
        var h = window.innerHeight;
        console.log(h);
        return h;
    }
</script>

<!--<div class="container">-->
<!--<div ng-show= "model.error" class="alert alert-danger" role="alert">-->
<!--{{model.error}}-->
<!--</div>-->

<!--<div ng-show= "model.message" class="alert alert-success" role="alert">-->
<!--{{model.message}}-->
<!--</div>-->

<!--<form>-->

<!--<label>Username</label>-->
<!--<input class="form-control" type="text" ng-model="model.user.username" placeholder="Username"/>-->

<!--<label for="email">Email</label>-->
<!--<input id="email" class="form-control" type="email" ng-model="model.user.email" placeholder="Email" />-->

<!--<label for="first">First Name</label>-->
<!--<input id="first" class="form-control" type="text" ng-model="model.user.firstName" placeholder="First Name"/>-->

<!--<label for="last">Last Name</label>-->
<!--<input id="last" class="form-control" type="text" ng-model="model.user.lastName" placeholder="Last Name"/>-->

<!--<a class="btn btn-primary btn-block" href="#/user/{{model.userId}}/website">-->
<!--Websites-->
<!--</a>-->
<!--<a class="btn btn-success btn-block" ng-click="model.updateUser(model.user)">-->
<!--Update Profile-->
<!--</a>-->
<!--<a class="btn btn-warning btn-block" ng-click="model.deleteUser()">-->
<!--Deregister-->
<!--</a>-->
<!--<a class="btn btn-danger btn-block" href="#/login">-->
<!--Logout-->
<!--</a>-->
<!--</form>-->
<!--</div>-->