<div class="container-fluid">

    <div class="container-fluid">
    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href="">Homepage</a></li>
        <li class="breadcrumb-item active">Postings</li>
    </ol>
    </div>

        <!-- Area Chart Example -->


    <div class="card-deck" style="padding-left: 15px;">
        <div class="card card-inverse col-sm-6 col-xl-3 mb-3" style="background-color: #333; border-color: #333;">

            <div class="card-header">
                <i class="fa fa-bar-chart"></i> Add New Opening
            </div>

            <div class="card-block" style="padding-left: 0px; padding-right: 0px;">
                <!--<label class="card-title" style="margin-bottom: 2px;">Job Title</label>-->
                <input type="text" class="form-control" placeholder="Job Title" ng-model="model.newOpenPosition.name" style="background-color: transparent; color: white; margin-bottom: 10px;">
                <!--<label class="card-title" style="margin-bottom: 2px;">Location</label>-->
                <input type="text" class="form-control marginTop" placeholder="Location" ng-model="model.newOpenPosition.location" style="background-color: transparent; color: white; margin-bottom: 10px;">
            </div>

            <div class="card-footer">
                <button class="btn form-control btn-outline-info" ng-click="model.createPosition()">Add Opening</button>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3 card-deck" style="padding-left: 0px;" ng-repeat="c in model.positions">
            <div class="card">
                <div class="card-header">
                    Company Name
                </div>
                <div class="card-block">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{c.name}}</li>
                        <li class="list-group-item">{{c.location}}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href ng-click=" model.positionId=c._id; model.tab='recruiterviewcandidate'">View Candidates</a>
                    <button ng-click="model.deletePosition(c._id)" class="btn btn-outline-danger btn-sm pull-right">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>