<div class="container-fluid">

    <div class="container-fluid">
        <ol class="breadcrumb my-3">
            <li class="breadcrumb-item"><a href="">Homepage</a></li>
            <li class="breadcrumb-item active">Postings</li>
        </ol>
    </div>

    <!-- Area Chart Example -->

    <div class="card-deck">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                <div class="card-header">
                    Add New Opening
                </div>
                <div class="card-block">
                    <input type="text" class="form-control" placeholder="Job Title"
                           ng-model="model.newOpenPosition.name"
                           style="background-color: transparent; color: white; margin-bottom: 10px;">
                    <input type="text" class="form-control marginTop" placeholder="Location"
                           ng-model="model.newOpenPosition.location"
                           style="background-color: transparent; color: white; margin-bottom: 10px;">
                </div>
                <div class="card-footer clearfix small z-1">
                    <button class="btn btn-sm form-control btn-outline-info" ng-click="model.createPosition()">Add
                        Opening
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3" ng-repeat="c in model.positions | orderBy:'$index':true">
            <div class="card o-hidden">
                <div class="card-header">
                    <div>
                        {{model.user.organization}}
                        <button ng-click="model.deletePosition(c._id)" class="btn btn-outline-danger btn-sm pull-right">
                            Delete
                        </button>
                    </div>
                </div>
                <div class="card-block">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{c.name}}</li>
                        <li class="list-group-item">{{c.location}}</li>
                    </ul>
                </div>
                <a href class="card-footer small clearfix z-1"
                   ng-click=" model.positionId=c._id; model.currentjob=c.name; model.tab='recruiterviewcandidate'">
                    <span class="float-left">View Candidates</span>
                    <span class="float-right"><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>