<div class="container-fluid">
    <div class="container-fluid">
        <ol class="breadcrumb my-3">
            <li class="breadcrumb-item"><a href ng-click="model.tab='recruiterdash'">Homepage</a></li>
            <li class="breadcrumb-item"><a href ng-click="model.tab='recruiterpostings'">Job Postings</a></li>
            <li class="breadcrumb-item active">Candidates for {{model.currentjob}} Opening</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xl-4 col-sm-12 mb-3">
            <div class="col-12">
                <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <div class="card-header">
                        Add New Candidate
                    </div>
                    <div class="card-block">
                        <input type="text" class="form-control" placeholder="First Name"
                               ng-model="model.newUser.firstName"
                               style="background-color: transparent; color: white; margin-bottom: 10px;">
                        <input type="text" class="form-control marginTop" placeholder="Last Name"
                               ng-model="model.newUser.lastName"
                               style="background-color: transparent; color: white; margin-bottom: 10px;">
                        <input type="text" class="form-control marginTop" placeholder="Email"
                               ng-model="model.newUser.email"
                               style="background-color: transparent; color: white; margin-bottom: 10px;">
                        <button class="btn btn-sm form-control btn-outline-success marginTop"
                                ng-click="model.addMail()">Add Person
                        </button>
                    </div>
                    <div class="card-block">
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between list-group-flush"
                                ng-repeat="listmail in model.emails" style="background-color: transparent;">
                                {{listmail.email}}
                                <span class="badge badge-default badge-pill"
                                      ng-click="model.deleteMail(listmail)">Delete</span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer clearfix small z-1">
                        <a href ng-click="model.sendInvitations()" class="btn btn-primary btn-sm form-control">Send
                            Invitations</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-sm-12 mb-3">
            <div class="card-deck">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3"
                     ng-repeat="candidate in model.candidatesByJob | orderBy:'$index':true">
                    <div class="card o-hidden">
                        <div class="card-header">
                            <div>
                                {{candidate._applicant.firstName}} {{candidate._applicant.lastName}}
                                <button ng-click="" class="btn btn-outline-danger btn-sm pull-right">Delete</button>
                            </div>
                        </div>
                        <div class="card-block">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{candidate._applicant.status}}</li>
                                <!--<div class="dropdown">-->
                                    <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Interviewer-->
                                        <!--<span class="caret"></span></button>-->
                                    <!--<ul class="dropdown-menu">-->
                                        <!--<li ng-repeat="intw in model.interviewerarray" style="background-color: transparent;"><a href>{{intw.firstName}} {{intw.lastName}}</a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            </ul>
                        </div>
                        <div class="card-block">
                            <div class="form-group">
                                <!--<label for="sel1">Select list:</label>-->
                                <select class="form-control" id="sel1">
                                    <option>Select Interviewer</option>
                                    <option ng-repeat="int in model.interviewerarray">{{int.firstName}} {{int.lastName}}</option>
                                </select>
                            </div>
                        </div>
                        <a href class="card-footer clearfix z-1"
                           ng-click=" model.positionId=c._id; model.currentjob=c.name; model.tab='recruiterviewcandidate'">
                            <span class="float-left">View Candidates</span>
                            <span class="float-right"><i class="fa fa-angle-right"></i></span>
                        </a>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>