<div class="container-fluid">

    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href="">Homepage</a></li>
        <li class="breadcrumb-item">Job Postings</li>
        <li class="breadcrumb-item active">Candidates for {{model.currentjob}} Opening</li>
    </ol>

    <!-- Area Chart Example -->
        <div class="card col-sm-12 marginBottom">
            <div class="card-header">
                <i class="fa fa-bar-chart"></i> Invite Candidates
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-4" style="margin-bottom: 10px;">
                        <input type="text" class="form-control" ng-model="model.newUser.firstName" placeholder="First Name">
                    </div>
                    <div class="col-md-4" style="margin-bottom: 10px;">
                        <input type="text" class="form-control" ng-model="model.newUser.lastName" placeholder="Last Name">
                    </div>
                    <div class="col-md-4" style="margin-bottom: 10px;">
                        <input type="text" class="form-control" ng-model="model.newUser.email" placeholder="Email">
                    </div>
                </div>

                <button class="btn btn-sm form-control btn-outline-success marginTop" ng-click="model.addMail()">Add Person</button>
            </div>
            <div class="card-block">
                <ul class="list-group">
                    <li class="list-group-item justify-content-between" ng-repeat="listmail in model.emails">
                        {{listmail.email}}
                        <span class="badge badge-default badge-pill" ng-click="model.deleteMail(listmail)">Delete</span>
                    </li>
                </ul>
                <button class="btn btn-sm form-control btn-outline-danger" ng-click="model.deleteAllMail()">Delete All Emails</button>
            </div>
            <div class="card-footer">
                <a href ng-click="model.sendInvitations()" class="btn btn-primary form-control">Send Invitations</a>
            </div>
        </div>

        <div class="card col-sm-12">
            <div class="card-header">
                <i class="fa fa-bar-chart"></i> List of Candidates
            </div>
            <div class="card-block">
                <ul class="list-group">
                    <li class="list-group-item justify-content-between" ng-repeat="candidate in model.candidatesByJob">
                        {{candidate._applicant.firstName}} {{candidate._applicant.lastName}} {{candidate._applicant.status}}
                        <span class="badge badge-default badge-pill" ng-click="model.deleteMail(listmail)">Delete</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer text-muted">
                <small>2 Days Ago</small>
            </div>
        </div>
    </div>
</div>