<!--<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">-->
<!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="">solicitar.io</a>-->
<!--<div class="collapse navbar-collapse" id="navbarExample">-->
<!--<ul class="navbar-nav ml-auto">-->
<!---->
<!--<li class="nav-item dropdown">-->
<!--<a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--<i class="fa fa-fw fa-envelope"></i> <span class="hidden-lg-up">Messages <span class="badge badge-pill badge-primary">12 New</span></span>-->
<!--<span class="new-indicator text-primary hidden-md-down"><i class="fa fa-fw fa-circle"></i><span class="number">12</span></span>-->
<!--</a>-->
<!--<div class="dropdown-menu" aria-labelledby="messagesDropdown">-->
<!--<h6 class="dropdown-header">New Messages:</h6>-->
<!--<div class="dropdown-divider"></div>-->
<!--<a class="dropdown-item" href="#">-->
<!--<strong>David Miller</strong> <span class="small float-right text-muted">11:21 AM</span>-->
<!--<div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>-->
<!--</a>-->
<!--<div class="dropdown-divider"></div>-->
<!--<a class="dropdown-item" href="#">-->
<!--<strong>Jane Smith</strong> <span class="small float-right text-muted">11:21 AM</span>-->
<!--<div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>-->
<!--</a>-->
<!--<div class="dropdown-divider"></div>-->
<!--<a class="dropdown-item" href="#">-->
<!--<strong>John Doe</strong> <span class="small float-right text-muted">11:21 AM</span>-->
<!--<div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>-->
<!--</a>-->
<!--<div class="dropdown-divider"></div>-->
<!--<a class="dropdown-item" href="#">-->
<!--View All Messages-->
<!--</a>-->
<!--</div>-->
<!--</li>-->
<!--<li class="nav-item dropdown">-->
<!--<a class="nav-link dropdown-toggle mr-lg-2" href="#" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--<i class="fa fa-fw fa-bell"></i> <span class="hidden-lg-up">Alerts <span class="badge badge-pill badge-warning">6 New</span></span>-->
<!--<span class="new-indicator text-warning hidden-md-down"><i class="fa fa-fw fa-circle"></i><span class="number">6</span></span>-->
<!--</a>-->
<!--<div class="dropdown-menu" aria-labelledby="alertsDropdown">-->
<!--<a class="dropdown-item" href="#">Action</a>-->
<!--<a class="dropdown-item" href="#">Another action</a>-->
<!--<a class="dropdown-item" href="#">Something else here</a>-->
<!--</div>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<form class="form-inline my-2 my-lg-0 mr-lg-2">-->
<!--<div class="input-group">-->
<!--<input type="text" class="form-control" placeholder="Search for...">-->
<!--<span class="input-group-btn">-->
<!--<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>-->
<!--</span>-->
<!--</div>-->
<!--</form>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="#/login"><i class="fa fa-fw fa-sign-out"></i> Logout</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->

<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="col-xs-12 col-lg-5">
        <a class="navbar-brand" href="">solicitar.io</a>
        <div class="pull-right">
            <button class="btn btn-outline-danger">End Interview</button>
        </div>
        <!--<div class="navbar-text">-->
        <!--This is in col-4-->
        <!--</div>-->
    </div>
    <div class="hidden-md-down col-sm-7">
        <div class="pull-right">
            <button class="btn btn-outline-success" ng-click="model.compile()">Compile Code</button>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-outline-info dropdown-toggle marginRight" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{model.language}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li ng-repeat="c in model.languages" class="list-group">
                    <a class="dropdown-item" href ng-click="model.changeLanguage(c)">{{c}}</a>
                </li>
            </div>
        </div>

        <div class="navbar-text">
            This is in col-8
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-5">

            <!--<div id="remote-media"></div>-->



            <div id="controls">
                <div class="card card-inverse" style="background-color: #000; border-color: #000;">
                    <div class="card-block">
                        <div id="remote-media"></div>
                    </div>
                    <div class="card-block">
                        <div id="preview">
                            <!--<p class="instructions">Hello Beautiful</p>-->
                            <div id="local-media"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                            <button id="button-preview" class="btn btn-outline-info" ng-click="model.cameraPreview()">Preview My Camera</button>
                    </div>
                </div>

                <div id="room-controls">
                    <p class="instructions">Room Name:</p>
                    <input id="room-name" type="text" placeholder="Enter a room name"/>
                    <button id="button-join" ng-click="model.joinDisabled || model.joinRoom()">Join Room</button>
                    <button id="button-leave" ng-click="model.leaveDisabled || model.leaveRoom()">Leave Room</button>
                </div>


                <div id="log"></div>
            </div>
        </div>


        <div class="hidden-md-down col-md-7">
            <div class="row">
                <div class="col-xs-12">
                    <!--<div class="form-group">-->
                        <!--<label for="languageOptions">Size</label>-->
                        <!--<select id="languageOptions" class="form-control" ng-model="model.language"-->
                                <!--ng-options="c for c in model.languages"></select>-->
                        <!--<button class="btn-block" ng-click="model.changeLanguage()">Change Language</button>-->
                    <!--</div>-->
                    <a class="btn btn-success btn-block" ng-click="model.createNewPad()" ng-show="model.visible">Create
                        New
                        Pad</a>

                    <div id="myCode"></div>

                    <div class="form-group">
                        <label for="input">Input:</label>
                        <textarea class="form-control" rows="5" ng-model="model.input" id="input"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="output">Output:</label>

                        <textarea ng-show="model.result" ng-model="model.result" class="form-control" rows="5"
                                  id="output" readonly>
                        </textarea>

                    </div>

                    <div ng-show="model.compiling" class="alert alert-info" id="compiling">
                        Compiling....
                    </div>




                    <!--<a class="btn btn-success btn-block marginBottom" ng-click="model.getResults()">Get Results</a>-->
                    <!--<div class="card" ng-show="model.result">-->
                    <!--<div class="card-block">-->
                    <!--&lt;!&ndash;<div ng-show="model.result" id="results">&ndash;&gt;-->
                    <!--{{model.result}}-->
                    <!--</div>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col-xs-4">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 container-fluid">-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;    leftcvzj;jsdzbd zfdkjgbfg k;jfd gnbfdg;kjdfn-->
<!--</div>-->
<!--</div>-->

<!--</div>-->


<!--<div class="col-xs-8">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 container-fluid">-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;right        kj;zxcbvv fgs;jdsfgsdf;kjgd;kj-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


